PORT=10267
AUTH_API_BASE_URL=http://localhost:10067
BLUEPRINT_DB_DATABASE=noura_{service}_db
BLUEPRINT_DB_PASSWORD=postgres
BLUEPRINT_DB_USERNAME=postgres
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_SCHEMA=public  
